.Navbar-nav{
    display: flex;
    color: rgb(197, 0, 0);
    flex-direction: row;
}


.Navbar-nav li {
    font-size: 20px;
    margin: 10px;
    list-style: none;
  }

.Navbar{
    background-color: rgb(255, 191, 0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid;
    border-color: rgb(99, 0, 0);
}

.Navbar-nav li a {
    text-decoration: none;
    color: rgb(167, 0, 0);
}

.none {
    display: none;
}

.activo{
    display: block;
}

.carta {
    width: 400px;
    min-height: 300px;
    max-height: 600px;
    text-align: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}